<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item" 
            [class.active]="selectedProdId === prod.pId" 
            *ngFor="let prod of productsInfo"
            (click)="selectedProdId = prod.pId"
            [routerLink]="['/products', prod.pId]"
            [queryParams]="{canEdit:prod.canReturn}">
                {{prod.pName}}
            </li>
        </ul>
    </div>
    <div class="col-md-8">
        <!-- <app-product></app-product> -->
        <router-outlet></router-outlet>
    </div>
</div>
